$backgroundColor: #efefef;
$radius: 40%;

form { 
  display: inline-block;
  margin: auto;
  width: 200px;

  label {
    display: flex;
    margin: 1rem 0;

     
  }
}
.methods
{
  margin-left: 620px;
  
}
.b{
  
  position: relative;top:-130px;align-items: center;width: 10%; margin: auto;
 margin-top: 0px !important;margin-bottom: 0px !important ;}